{% extends 'base/backend_base.html' %}

{% block title %}Account Update - Interns Australia{% endblock %}

{% block head %}
<script>
  function submitForm(){
    var newpw = document.getElementById("password");
    var confirmpw = document.getElementById("confirmPwd");
    var form = document.getElementById("userEditForm");
    if(newpw.value != confirmpw.value){
      alert("Oops! New Password and Confirm Password do not match");
      return
    }
    else{
      form.submit();update
    }
  }
</script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-3">
      <ul class="nav nav-pills nav-stacked" role="tablist">
        <li role="createUser"><a href="/admin/staff/create">Create User</a></li>

        <li role="accountUpdate" class="active"><a href="/admin/staff">Account Update</a></li>
      </ul>
    </div>
    <div class="col-md-9" role="main">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="panel-title">This is the user-edit page</div>
        </div>
        <div class="panel-body">
          <div class="edit_user">
            <form class="form" role="form" id="userEditForm" method="post">
            <div class="form-group">
              <div id="warnings"></div>
              <label for="Username">Username</label>
              <!-- input username -->
              <input class="form-control" type="text" name="uname" placeholder="User Name" value="{{user.username}}" readonly="readonly"/>
              </br>
              <label for="inputPassword">New Password</label>
              <!-- input password -->
              <input class="form-control" type="password" id="password" placeholder="New Password" name="password" onchange="changeContent()"/>
              <br/>
              <label for="confirmPassword">Confirm Password</label>
              <!-- confirm password -->
              <input name="confirmPwd" class="form-control" type="password" placeholder="Confirm Password" id="confirmPwd" onchange="changeContent()"s/>
              <br/>
              <!--checkbox -->
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="isAdmin" value="Admin" id="isAdmin"{% if user.is_admin %}checked="checked"{% endif %} onchange="changeContent()">Administrator
                </label>
              </div>
              </br>
              <button type="button" id="updateBtn" class='btn btn-primary' value="Update" onclick="submitForm()"/>Update</button>
              <a href="/admin/staff" class='btn btn-default'>Back</a>
            </div>
            </form>
         </div>
        </div>
        </div>
      </div>
    </div>

<script>
    document.getElementById("updateBtn").disabled = true;

    function changeContent() {
      {% if user.is_admin %}
      if(document.getElementById("password").value !== "" || document.getElementById("confirmPwd").value !== "" || document.getElementById("isAdmin").checked == false){
        document.getElementById("updateBtn").disabled = false;
        document.getElementById("warnings").innerHTML = "";
      }
      else {
        document.getElementById("updateBtn").disabled = true;
        document.getElementById("warnings").innerHTML = "No change has been made";
        document.getElementById("warnings").style.color = "red";
      }
      {% else %}

      if(document.getElementById("password").value !== "" || document.getElementById("confirmPwd").value !== "" || document.getElementById("isAdmin").checked == true){
        document.getElementById("updateBtn").disabled = false;
        document.getElementById("warnings").innerHTML = "";
      }
      else {
        document.getElementById("updateBtn").disabled = true;
      document.getElementById("warnings").innerHTML = "No change has been made";
        document.getElementById("warnings").style.color = "red";
      }
      {% endif %}

    }
</script>
{% endblock %}
