{% extends 'base/public_base.html' %}

{% block title %}Surveys - Interns Australia{% endblock %}

{% block content %}
<div class="container">
  <div id="surveyContainer">

  </div>
  <script type="text/javascript">var survey = JSON.parse("{{survey|safe|json|addslashes}}");</script>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
  head.load(
    "/static/css/libs/datepicker3.css",
    "/static/css/libs/bootstrap-timepicker.min.css"
  );
  head.js(
    "/static/js/libs/underscore-min.js",
    "/static/js/libs/backbone-min.js",
    "/static/js/libs/backbone.marionette.min.js",
    "/static/js/libs/swig.min.js",
    "/static/js/libs/bootstrap-datepicker.js",
    "/static/js/libs/bootstrap-timepicker.min.js",
    "/static/js/survey.js"
    );
</script>
{# swig templates #}
{% raw %}
<script type="text/swig" id="survey_template">
<div>
  <h1>{{title}}</h1>

  <form id="current_form" enctype='application/json'>
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow={{percent}} aria-valuemin="0" aria-valuemax="100" style="width: {{percent}}%;">
      {{percent}}%
    </div>
  </div>
  {% for question in fields %}
  <div class='row'>
  <div class='col-sm-12'>
  {{question|safe}}
  </div>
  </div>
  {% endfor %}
  </form>

  <p>
    {% if count > 0 %}
    <div class='btn btn-default' id="prev">Prev</div>
    {% endif %}
    <div class='btn btn-primary' id="next">{% if count + 1 == length %}Finish{% else %}Next{% endif %}</div>
  </p>
</div>
</script>

<script type="text/swig" id="save_template">
<div>
  <img src="/static/img/loading.gif" alt="loading" />
</div>
</script>
<script type="text/swig" id="end_template">
<div>
  <p>
    {{content|safe}}
  </p>
</div>
</script>
<script type="text/swig" id="text_question_template">
<div class='well'>
  <h4 class='underline-header'>{{label}} {% if required %}<span class='text-danger'>*</span>{% endif %}</h4>
  {% if field_options.description %}<p class='text-muted'>{{field_options.description}}</p>{% endif %}
  <input class="form-control" type="text" id="input_{{cid}}" name="input_{{cid}}" value='{{last_value}}' />
</div>
</script>
<script type="text/swig" id="paragraph_question_template">
<div class='well'>
  <h4 class='underline-header'>{{label}} {% if required %}<span class='text-danger'>*</span>{% endif %}</h4>
  {% if field_options.description %}<p class='text-muted'>{{field_options.description}}</p>{% endif %}
  <textarea class="form-control" id="input_{{cid}}" name="input_{{cid}}">{{last_value}}</textarea>
</div>
</script>
<script type="text/swig" id="checkboxes_question_template">
<div class='well'>
  <h4 class='underline-header'>{{label}} {% if required %}<span class='text-danger'>*</span>{% endif %}</h4>
  {% if field_options.description %}<p class='text-muted'>{{field_options.description}}</p>{% endif %}
  {% for option in  field_options.options %}
    <div class="checkbox">
      <label>
        <input type="checkbox" id="Cinput_{{cid}}"  name="input_{{cid}}"
        {% if last_value %}
          {% for val in last_value %}
            {% if val == option.label %}checked{% endif %}
          {% endfor %}
        {% else %}
          {% if option.checked %}checked{% endif %}
        {% endif %} value="{{option.label}}" />
        {{option.label}}
      </label>
    </div>
  {% endfor %}
</div>
</script>
<script type="text/swig" id="radio_question_template">
<div class='well'>
  <h4 class='underline-header'>{{label}} {% if required %}<span class='text-danger'>*</span>{% endif %}</h4>
  {% if field_options.description %}<p class='text-muted'>{{field_options.description}}</p>{% endif %}
  {% for option in  field_options.options %}
    <div class="checkbox">
      <label>
        <input type="radio" id="Rinput_{{cid}}"  name="input_{{cid}}"
        {% if last_value %}
          {% if last_value == option.label %}checked{% endif %}
        {% else %}
          {% if option.checked %}checked{% endif %}
        {% endif %} value="{{option.label}}" />
        {{option.label}}
      </label>
    </div>
  {% endfor %}
</div>
</script>
<script type="text/swig" id="dropdown_question_template">
<div class='well'>
  <h4 class='underline-header'>{{label}} {% if required %}<span class='text-danger'>*</span>{% endif %}</h4>
  {% if field_options.description %}<p class='text-muted'>{{field_options.description}}</p>{% endif %}
  <select class="form-control" id="input_{{cid}}" name="input_{{cid}}">
    {% for option in  field_options.options %}
      <option value="{{option.label}}"
      {% if last_value %}
        {% if last_value == option.label %}selected{% endif %}
      {% else %}
        {% if option.checked %}selected{% endif %}
      {% endif %}>{{option.label}}</option>
    {% endfor %}
  </select>
</div>
</script>
<script type="text/swig" id="number_question_template">
<div class='well'>
  <h4 class='underline-header'>{{label}} {% if required %}<span class='text-danger'>*</span>{% endif %}</h4>
  {% if field_options.description %}<p class='text-muted'>{{field_options.description}}</p>{% endif %}
  <input class="form-control" type="text" id="input_{{cid}}" name="input_{{cid}}" value='{{last_value}}' />
</div>
</script>
<script type="text/swig" id="date_question_template">
<div class='well'>
  <h4 class='underline-header'>{{label}} {% if required %}<span class='text-danger'>*</span>{% endif %}</h4>
  {% if field_options.description %}<p class='text-muted'>{{field_options.description}}</p>{% endif %}
  <input class="datepicker form-control" type="text" id="input_{{cid}}" name="input_{{cid}}" value='{{last_value}}' />
</div>
</script>
<script type="text/swig" id="time_question_template">
<div class='well'>
  <h4 class='underline-header'>{{label}} {% if required %}<span class='text-danger'>*</span>{% endif %}</h4>
  {% if field_options.description %}<p class='text-muted'>{{field_options.description}}</p>{% endif %}
  <input class="timepicker form-control" type="text" id="input_{{cid}}" name="input_{{cid}}" value='{{last_value}}' />
</div>
</script>
{% endraw %}
{% endblock %}
