<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IA staff admin</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/signin.css" />
    <link href="css/admin.css" rel="stylesheet">
  </head>

  <body>
    <div class="container" id="container">
      <!--
      <% if (locals.success) { %> 
          <div id="alt_sucess" class="alert alert-success"> 
            <%= success %> 
          </div> 
       <% } %> 

      <% if (locals.error) { %> 
        <div id="alt_warning" class="alert alert-warning"> 
          <%= error %> 
        </div> 
      <% } %> 
    -->
      <div class="header">
        <h3>INTERNS AUSTRALIA</h3>
      </div>
      <div class="test">
      <div class="sign_in">
        <form class="form" role="form" method="post">
          <h3>Sign In</h3>
          <div class="form-group">
            <label for="inputUsername">Username</label>
            <!-- input username -->
            <input type="username" class="form-control" id="txtUserName" placeholder="Username" name="txtUserName"><span id="name_error"></span>
          </br>
            <label for="inputPassword">Password</label>
            <!-- input password -->
            <input type="password" class="form-control" id="txtUserPwd" placeholder="Password" name="txtUserPwd"><span id="pwd_error"></span>
            <div class="checkbox">
              <label>
                <!-- checkbox remember me -->
                <input type="checkbox" name="pwdRem" id="pwdRem"> Remember me
              </label>
            </div>
            <button type="submit" class="btn btn-primary" id="btnSub">Sign in</button>
          </div>
        </form>
      </div>
      </div>
      <div class="footer">
        <p>© Company 2014</p>
      </div>
    </div>

  </body>
</html>
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript">

    $(function(){
        $('#btnSub').on('click',function(){           
            var 
            $txtUserName = $('#txtUserName'),
            txtUserNameVal = $.trim($txtUserName.val()),            
            $txtUserPwd = $('#txtUserPwd'),
            txtUserPwdVal = $.trim($txtUserPwd.val()),
            errorTip = '<div id="errorTip" class="alert alert-warning">{0}</div> ';  

            $("#errorTip,#alt_warning").remove();
            
            if(txtUserNameVal.length == 0)
            {
                document.getElementById('name_error').innerHTML='<font style="color:red">User name can not be empty.</font>';
                $("#container").prepend(errorTip.format('User name can not be empty.'));                
                $txtUserName.focus();
                return false;
            }

            if(txtUserPwdVal.length == 0)
            {                
                document.getElementById('pwd_error').innerHTML='<font style="color:red">Password can not be empty.</font>';
                $("#container").prepend(errorTip.format('Password can not be empty.'));
                $txtUserPwd.focus();
                return false;
            }
            
            return true;                
        })
    });

</script>