{% extends 'base/public_base.html' %}
{% block title %}Surveys - Interns Australia{% endblock %}
{% block content %}
<script>
  function returnStaff(){
    window.location.href='/account-update';
  }
  function submitForm(){
    var newpw = document.getElementById("newpw");
    var confirmpw = document.getElementById("confirmpw");
    var form = document.getElementById("pwform");
    if(newpw.value != confirmpw.value){
      alert("Oops! New Password and Confirm Password do not match");
      return
    }
    else if(newpw.value == ''){
      alert("Sorry! Password cannot be empty!");
      return
    }
    else{
      form.submit();
    }
  }
</script>
  {% if error %}
  {% endif %}
  <div class="container">
    <p>{{error}}</p>
    <h1>Welcome</h1>
    <p>This is the password-update page</p>
    <form id="pwform" action="password-update" method="post">
      User ID <input type="hidden" name="userId" value="{{userId}}">
      Old Password: <input type="text" id="oldpw" name="oldpw"/></br>
      New Password: <input type="text" id="newpw" name="newpw"/></br>
      Confirm Password: <input type="text" id="confirmpw" name="confirmpw"/></br>
      <input type="button" value="Submit" onclick="submitForm()"/>
      <input type="button" value="Back" onclick="returnStaff()"/>
    </form>
  </div>
{% endblock %}
