{% extends 'base/backend_base.html' %}
{% block title %}Surveys - Interns Australia{% endblock %}
{% block content %}
<script>
  function submitForm(){
    var newpw = document.getElementById("newpw");
    var confirmpw = document.getElementById("confirmpw");
    var form = document.getElementById("pwform");
    if(newpw.value != confirmpw.value){
      alert("Oops! New Password and Confirm Password do not match");
      return
    }
    else if(newpw.value == ''){
      alert("Sorry! Password cannot be empty!");
      return
    }
    else{
      form.submit();
    }
  }
</script>
  {% if error %}
  <div class="alert alert-danger" role="alert">
    <p>{{error}}</p>
  </div>
  {% endif %}
  <div class="container">
    <form id="pwform" action="password-update" method="post" class="form-inline">
      <input type="hidden" name="username" value="{{username}}">
      Old Password: <br> <input type="password" class="form-control" placeholder="Password" id="oldpw" name="oldpw"/></br>
      New Password: <br> <input type="password" class="form-control" placeholder="Password" id="newpw" name="newpw"/></br>
      Confirm Password: <br> <input type="password" class="form-control" placeholder="Password" id="confirmpw" name="confirmpw"/></br>
      <input type="button" class='btn btn-primary' value="Submit" onclick="submitForm()"/>
      <a class='btn btn-default' href="/admin">Back</a>
    </form>
  </div>
{% endblock %}
