{% extends 'base/backend_base.html' %}
{% block title %}Surveys - Interns Australia{% endblock %}
{% block content %}
<div class="context">
<script>
  function submitForm(){
    var newpw = document.getElementById("newpw");
    var confirmpw = document.getElementById("confirmpw");
    var form = document.getElementById("pwform");
    if(newpw.value != confirmpw.value){
      alert("Oops! New Password and Confirm Password do not match");
      return;
    }
    else if(newpw.value == ''){
      alert("Sorry! Password cannot be empty!");
      return;
    }
    else{
      form.submit();
    }
  }
</script>

  {% if error %}
  <div class="alert alert-danger" role="alert">
    <p>{{error}}</p>
  </div>
  {% endif %}
  <div class="pass_update">
    <form id="pwform" class="form" role="form" method="post" action="password-update">
          <h3>Update Your Password</h3>
          <div class="form-group">
            <input type="hidden" name="username" value="{{username}}">
            <label for="inputOldPassword">Old Password</label>
            <!-- input oldpassword -->
            <input type="password" class="form-control" id="oldpw" placeholder="Password" name="oldpw">
            </br>
            <label for="inputNewPassword">New Password</label>
            <!-- input newpassword -->
            <input type="password" class="form-control" id="newpw" placeholder="Password" name="newpw">
            <br/>
            <label for="comfirmNewPassword">Confirm Password</label>
            <!-- input newpassword -->
            <input type="password" class="form-control" id="confirmpw" placeholder="Password" name="confirmpw">
            <br/>
            <a id="btnSubmit" class="btn btn-primary" onclick="submitForm()"/>Submit</a>
            <a id="btnBack" class='btn btn-default' href="/admin">Back</a>
          </div>
        </form>
  </div>
</div>
{% endblock %}
