{% extends 'base/backend_base.html' %}

{% block title %}Manage Staff - Interns Australia{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-3">
      <ul class="nav nav-pills nav-stacked" role="tablist">
        <li role="createUser"><a href="/admin/staff/create">Create User</a></li>

        <li role="accountUpdate" class="active"><a href="/admin/staff">Account Update</a></li>
      </ul>
    </div>
    <div class="col-md-9" role="main">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="panel-title">This is the account update page</div>
        </div>
        <div class="panel-body">
          <div class="account_update">
          <!-- table -->
          <table class="table table-striped">
            <thead>
              <tr>
                <th>User Name</th>
                <th>Is Admin</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            {% for person in users %}
            <tr>
              <td>{{person.username}}</td>
              <td>{{person.is_admin}}</td>
              <td><a name="{{person.username}}E" class='btn btn-primary' href="/admin/account-edit/{{person._id|safe}}">Edit</a></td>
              <td>{% if person.username != username %}<a name="{{person.username}}D" class='btn btn-danger' href="/admin/staff/delete/{{person._id|safe}}">Delete</a>{% endif %}</td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
