{% extends 'base/backend_base.html' %}

{% block title %}Surveys - Interns Australia{% endblock %}

{% block content %}
	<div class="jumbotron">
  		<h1>Staff Management</h1>
  		<br/>
  		<p>This is the staff page where the staff management will be presented</p>
  		<br/>
  		<p>
  			<a href="/admin/user-create" class="btn btn-primary">Create User</a>
  			<a href="/admin/user-delete" class="btn btn-primary">Delete User</a>
  			<a href="/admin/account-update" class="btn btn-primary">Account Update</a>
  		</p>
  	</div>
{% endblock %}
