{% extends 'base/backend_base.html' %}

{% block title %}Surveys - Interns Australia{% endblock %}

{% block content %}
  <h1>Create Survey</h1>
<form method="post" id="main_form" action="/admin/surveys/create">
  {% if edit %}
  <input type="hidden" id="edit" name="edit" value="{{survey._id|safe}}" />
  {% endif %}
  <h2>Overall Info</h2>
    <div class="form-group">
      <label class="control-label" for="title">Title</label>
      <input class="form-control" id="title" name="title" type="text" placeholder="Starting Out" value="{{survey.title}}">
    </div>
    <div class="form-group">
      <label class="control-label" for="prompt">Prompt Text</label>
      <input class="form-control" id="prompt" name="prompt" type="text" placeholder="I am an intern starting out" value="{{survey.prompt}}">
    </div>
    <div class="form-group">
      <label class="control-label" for="endpage">End Page</label>
      <div class="summernote" id="endpage">{{survey.end_page|safe}}</div>
      <input type="hidden" name="end_page_html" id="end_page_html">
    </div>
  <h2>Survey Components</h2>

  <div id='formbuilder'></div>
  <input type="hidden" name="form_json" id="form_json">
  <h2>Finish</h2>
  <input type="submit" class="btn btn-primary" value="Save">
</form>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
head.js(
  "/static/js/libs/formbuilder-vendor.js",
  "/static/js/libs/formbuilder.js",
  "/static/js/libs/tooltip.min.js",
  "/static/js/libs/summernote.min.js",
  "/static/js/form_creator.js"
);
head.load(
  "/static/css/libs/formbuilder-min.css",
  "/static/css/libs/summernote.css"
);
{% if survey %}
var bootstrap_data = JSON.parse("{{survey.form|safe|json|addslashes}}");
{% else %}
var bootstrap_data = null;
{% endif %}
</script>
{% endblock %}
