{% extends 'base/backend_base.html' %}

{% block title %}Surveys - Interns Australia{% endblock %}

{% block content %}
  <h1>Manage Surveys</h1>
  <p>
    <a class='btn btn-primary' href="/admin/surveys/create">Create New</a>
  </p>
  <form action="/admin/account-update" method="post">
    <table class="table">
      <tr>
        <th>Survey Name</th>
        <th>Prompt</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
      {% for survey in surveys %}
        <tr>
          <td>{{survey.title}}</td>
          <td>{{survey.prompt}}</td>
          <td>{{survey.status}}</td>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Actions <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                {% if survey.status == 'draft' %}
                <li><a class='btn btn-primary' href="/admin/surveys/edit/{{survey._id|safe}}">Edit</a></li>
                <li><a class='btn btn-primary' href="/admin/surveys/edit/{{survey._id|safe}}?clone=true">Clone</a></li>
                <li><a class='btn btn-success' href="/admin/surveys/publish/{{survey._id|safe}}">Publish</a></li>
                {% endif %}
                {% if survey.status == 'active' %}
                <li><a class='btn btn-danger' href="/admin/surveys/deactivate/{{survey._id|safe}}">Deactivate</a></li>
                {% endif %}
              </ul>
            </div>
          </td>
        </tr>
      {% endfor %}
    </table>
  </form>
{% endblock %}
