{% extends 'base/backend_base.html' %}

{% block title %}Surveys - Interns Australia{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-3">
      <ul class="nav nav-pills nav-stacked" role="tablist">
        <li role="createUser"><a href="/admin/user-create">Create User</a></li>
        <li role="deleteUser" class="active"><a href="/admin/user-delete">Delete User</a></li>
        <li role="accountUpdate"><a href="/admin/account-update">Account Update</a></li>
      </ul>
    </div>
    <div class="col-md-9" role="main">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="panel-title">To delete a user, click on it or you can hold shift/ctrl button to make a multiple choice</div>
        </div>
        <div class="panel-body">
          <div class="delete_user">
            <form id="userDeleteForm" class="form" role="form" method="post" action="/admin/user-delete">
            <div class="form-group">
              <select class="form-control" style="width: 40%" name="userChoosen" multiple="multiple" size="10">
              {% for person in users %}
              {% if loop.first %}<ol>{% endif %}
              <option value = {{person._id.toString()}}>{{person.username}}</option>
              {% if loop.last %}</ol>{% endif %}
              {% endfor %}
              </select>
              <br/>
              <button type="submit" class='btn btn-primary' value="Delete"/>Delete</button>
              <a href="/admin/staff" class='btn btn-default'>Back</a>
            </div>
            </form>
         </div>
        </div>
        </div>
      </div>
    </div>
{% endblock %}
