{% extends 'base/public_base.html' %}

{% block title %}Surveys - Interns Australia{% endblock %}

{% block content %}
<div class="container">
  <h1>Welcome</h1>
  <p>This is the user-delete page</p>
  <form action="user-delete" method="post">
    <select name="userChoosen" multiple="multiple" size="10">
      {% for person in users %}
        {% if loop.first %}<ol>{% endif %}
          <option value = {{person._id.toString()}}>{{person.username}}</option>
        {% if loop.last %}</ol>{% endif %}
      {% endfor %}
    </select>
    <input type="submit" value="Delete" />
  </form>
</div>
{% endblock %}
