{% extends 'base/backend_base.html' %}

{% block title %}Surveys - Interns Australia{% endblock %}

{% block content %}
<script>
  function submitForm(){
    var password = document.getElementById("password");
    var confirmPwd = document.getElementById("confirmPwd");
    var form = document.getElementById("userCreateForm");
    if(password.value !== confirmPwd.value){
      alert("Oops! New Password and Confirm Password do not match");
      return;
    }
    else if(password.value === ''){
      alert("Sorry! Password cannot be empty!");
      return;
    }
    else{
      form.submit();
    }
  }
</script>
<div class="container">
  <p>This is the user-create page</p>
  <form id="userCreateForm" action="/admin/user-create" method="post" class="form-inline">
    User name: <br> <input type="text" class="form-control" placeholder="User Name" name="uname" /></br>
    Password: <br> <input type="password" placeholder="Password" class="form-control" id="password" name="password" /></br>
    Confirm Password: <br> <input type="password" placeholder="Confirm Password" class="form-control" id="confirmPwd" /></br>
    Authorization: <input type="checkbox" class="form-control" name="isAdmin" value="Admin">Administrator</br>
    <input type="button" class='btn btn-primary' value="Create" onclick="submitForm()"/>
    <a href="/admin/staff" class='btn btn-default' >Back</a>
  </form>
</div>
{% endblock %}
