.context{
    text-align: center;
}
.sign_in, .pass_update {
  display: inline-block;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  width: 500px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: left;
}

.sign_in h3, .pass_update h3 {
  color: #468CC8;
  margin-top: 30px;
  margin-bottom: 15px;
}

.form-group label{
  padding-top: 15px;

}

.register {
  display: inline-block;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  width: 500px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: left;
  margin-top: 30px;
}

.register h3 {
  color: #468CC8;
  margin-top: 30px;
  margin-bottom: 15px;
}

.create_user, .delete_user, .edit_user {
  width: 500px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: left;
}

.account_update {
  padding-left: 30px;
  padding-right: 30px;
  text-align: left;
}