<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Interns Australia Admin{% endblock %}</title>

    <script type="text/javascript" src="/static/js/libs/head.load.min.js"></script>

    <script type="text/javascript">
      head.load(
        "/static/css/libs/bootstrap.min.css",
        "/static/css/libs/font-awesome.min.css",
        "/static/css/admin.css"
      );
    </script>
    {% block head %}
    {% endblock %}
  </head>
  <body>

  <nav class="navbar navbar-default container no_bottom_margin" role="navigation">
    <a class="navbar-brand">Interns Australia</a>
    {% if loggedIn %}
    <ul class="nav navbar-nav">
      <li><a href="/admin/surveys">Manage Surveys</a></li>
      <li><a href="/admin/results">View Results</a></li>
      <li><a href="/admin/staff">Manage Staff</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/admin/login?logout">Logout</a></li>
    </ul>
    {% endif %}
    {%block navbar %}
    {% endblock %}
  </nav>
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>

  <script type="text/javascript">
    head.js(
      "/static/js/libs/jquery.min.js",
      "/static/js/libs/bootstrap.min.js"
    );
  </script>
  {% block scripts %}
  {% endblock %}
  </body>
</html>
